<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="jumbotron-mask">
	<div id="jumbotron">
		<div class="jumbotron-content" id="jumbotron-content">
			<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h2 class="tag-line" id="tag-line" style="visibility: hidden;">Write, plan, and create infrastructure as code</h2>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>

<div class="cta" id="primary-cta">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<p class="lead">Terraform enables you to safely and predictably create, change, and
					improve production infrastructure. It is an open source tool that
					codifies APIs into declarative configuration files that can be shared amongst team members,
					treated as code, edited, reviewed, and versioned. </p>
				</div>
				<div class="col-md-4">
					<p class="center vert-container">
						<a class="terra-btn" href="/docs/index.html">Get Started</a>
					</p>
				</div>
			</div>
		</div><!-- /. row -->
	</div><!-- / .container -->
</div><!-- / .#primary-cta -->


